---
import '@/styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="google-site-verification" content="Dtqp-OuGLSWZyo_vBaD1UwjjzD-N7oZ7xr4u_66Ck-k" />
<title>{title}</title>

