---
import BaseHead from '@/components/BaseHead.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'] & {
	postId?: string;
};

const { title } = Astro.props;
---

<html lang="ja">
	<head>
		<BaseHead title={title} />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" />
		<style>
			main {
				max-width: 800px;
				margin: 0 auto;
				padding: 2em 1em;
			}
		</style>
	</head>

	<body>
		<main>
			<article>
				<h1>{title}</h1>
				<slot />
			</article>
		</main>
	</body>
</html>
